body {
    background: #1d1d1d url(https://i.pinimg.com/474x/62/52/fa/6252fa8400428dea7e4a28f0787aaa89.jpg) no-repeat;
    background-size: cover;
    color: #333333;
    min-height: 100%;
}

#portHeader {
    color: #194128;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: larger;
    background: azure;
    margin-bottom: 30px;
}

#portBody {
    border: none;
    border-radius: 15px;
    background: azure;
}

#portNav ul li a {
    color: black;
    height: auto;
    font-size: large;
    width: 70%;
}

#portNav {
    text-align: center;
    height: 1000px;
    background: linear-gradient(90deg, rgba(68,201,206,1) 0%, rgba(179,222,222,1) 50%, rgba(98,150,212,1) 100%);
    border: none;
    border-radius: 15px;
}

.portSection {
    font-size: 120%;
    line-height: 160%;
    margin-bottom: 30px;
    background-color: #145589;
    color: azure;
    border-radius: 12px;
    padding: 2%;
}
.portSection:hover ~.autoClickOnArtifactPreview .vtbegenerated{
    display: block;
}
    
.portSection .vtbegenerated {
    margin: -10px 0 10px;
    display: none;
}
.portSection .vtbegenerated:hover {
    margin: -10px 0 10px;
    display: block;
}
.autoClickOnArtifactPreview {
    background-color: azure;
    color: #3f434c;
    border: none;
    margin-bottom: 10px;
    border-radius: 15px;
    display:none;
}
.autoClickOnArtifactPreview {
    border-radius: 3px;
    font-family: arial;
    font-size: 50%;
    padding: 0 8px;
    text-decoration: none;
    margin: 0 4px 0 0;
    display: inline-block;
    font-weight: normal;
}
#portText h2 {
    color: azure;
    text-align: center;
    font-size: xx-large;
    background-color: #193d66;
    border-radius: 12px;
}
#portText h2, #portText h3, .artifactWrap h2, .folderContentView h2, .portfolioArtifactTable th {
    color: #194128;
    text-align: center;
    font-size: xx-large;
}
#portText h3.section-title {
    font-size: 140%;
    font-weight: normal;
    margin: 20px 0;
    display: block;
    text-align: left;
}
